<!-- views/partials/footer.ejs -->
    <footer>
        <div class="footer-content">
            <p id="symbol-date-name">
                &copy; <span id="currentyear"><%= currentYear %></span> Revival Fellowship International - Butha-Buthe, LS
            </p>
            <p id="lastModified">Last Modified: <%= lastModified %></p>
            <nav class="sociallinks">
                <a href="https://facebook.com">
                    <img src="/images/facebook.webp" alt="Facebook" width="30">
                </a>
                <a href="https://twitter.com">
                    <img src="/images/twitter.webp" alt="Twitter" width="30">
                </a>
                <a href="https://instagram.com">
                    <img src="/images/instagram.webp" alt="Instagram" width="30">
                </a>
            </nav>
        </div>
    </footer>
</body>
</html>
